<div class="container">
  <div class="row btnrow">
    <h1 class="title">You Laugh, You Lose</h1>
  </div>
</div>

<div id="game" class="container">
  <div class="row viewport">
    <div class="loading">
      <h1>Give me your webcam!</h1>
    </div>
    <video class="js-video hide" width="480" height="360" autoplay></video>
    <canvas class="js-countdown countdown hide" width="480" height="360"></canvas>
    <canvas class="js-canvas hide" width="480" height="360"></canvas>
    <img class="js-funny-image funny-image hide" />
  </div>
  <div class="row btnrow">
    <button class="js-ready readybtn btn">Play the Game</button>
    <div class="readycount">
      <h4>There are <span class="js-readycount">0</span> gamers who wish to get their game on.<h4>
    </div>
  </div>
</div>


<script type="text/javascript">
run = function(){

  var socket = window.socket = io.connect();

  var camera = window.camera = new APP.Camera({
      video: $('.js-video').get(0)
    , canvas: $('.js-canvas').get(0)
  });

  var game = window.game = new APP.Game({
      el: $('#game')
    , camera: camera
    , socket: socket
    , pictureURLs: {{{pictureURLs}}}

  });

};
</script>
