<div id="game" class="container">
  <video id="video" autoplay></video>
  <!--<canvas id="canvas" width="640" height="480"></canvas>-->
</div>


<script type="text/javascript">
run = function(){

  var socket = window.socket = io.connect();

  var camera = window.camera = new APP.Camera({
    video: document.getElementById('video')
    //, canvas: document.querySelector('canvas')
  });

  var game = window.game = new APP.Game({
    el: $('#game'),
    camera: camera,
    socket: socket
  });

  var sendData = window.sendData = function(data,cb){
    socket.emit('image',data, cb);
  }



};
</script>
