<div id="game" class="container">
  <div class="row viewport">
    <video class="js-video" autoplay></video>
    <canvas class="js-countdown countdown hide" width="640" height="480"></canvas>
    <canvas class="js-canvas hide" width="640" height="480"></canvas>
    <img class="js-funny-image funny-image" />
  </div>
  <div class="row btnrow">
    <button class="js-ready readybtn btn">READY!</button>
  </div>
</div>


<script type="text/javascript">
run = function(){

  var socket = window.socket = io.connect();

  var camera = window.camera = new APP.Camera({
      video: $('.js-video').get(0)
    , canvas: $('.js-canvas').get(0)
  });

  var game = window.game = new APP.Game({
      el: $('#game')
    , camera: camera
    , socket: socket
    , pictureURLs: {{{pictureURLs}}}

  });

};
</script>
