body {
  /* is sexy */
  background-color: #FFFFEE;
}

.viewport, .btnrow{
  text-align: center;
  position: relative;
  width: 480px;
  margin: 0 auto 0 auto;
}

.readybtn{
  background: #EA8;
  color: maroon;
}

.countdown{
  position: absolute;
  z-index: 10;
  top:0;
  left:0;
}

.loading{
  width:478px;
  height: 358px;
  border: solid black 1px;
  overflow: hidden;
}

.loading > h1{
  margin-top: 200px;
}

.title{
  font-size: 60px;
  line-height: 70px;
}